@font-face{font-family: madetommmy; src: url(madetommmy.otf); text-rendering: optimizeLegibility;}
body{font-family: madetommmy; margin:0;} /*Make border margins disappear by margin:0*/
header{background-color: #151517;}
p#size{color: #c98546;text-align: center;padding-top: 1%;font-size: 120%; margin-top: 0;}/*Make paragraph margins disappear by margin-top:0*/
main{background-color: #282a29;padding-top: 10%;padding-bottom: 10%;border-bottom-style: ridge;}
nav{padding-bottom: 1%;}
nav ul{list-style: none;}
nav ul li{display: inline;}
nav ul li a{margin-right: 20px;}
button{border: none; background-color: #c98546; color: white; border-radius: 100px; padding: 10px 15px 10px 15px;}
span#button{font-size: 10px; font-weight: bold; letter-spacing: 2px;}
p#name{font-size: 200%; color: white;margin: 0;text-align: center;}
img#profile_picture{width: 30%;margin-left: auto; margin-right: auto; display: block; border-right-style: ridge;}
div#align{margin-right: auto; margin-left: auto;background-color: #282a29;text-align: center;padding: 6%;color: white;border-top-style: ridge;}
div#no{margin-right: auto; margin-left: auto;text-align: center;background-color: #233242;padding: 6%;color: white;}
div#shift{text-align: center;}
a{color: white; text-decoration: none;}
a:hover{transform: scale(0.7)}
div#horizontal-list{text-align: center;}
div#one{background-color: #2c2c2c; padding: 5px;}
div#two{background-color: #2c2c2c; padding: 5px;margin-top: 2%;}
div#three{background-color: #2c2c2c; padding: 5px;margin-top: 2%;}
div#four{background-color: #2c2c2c; padding: 5px;margin-top: 2%;}
div#five{background-color: #2c2c2c; padding: 5px;margin-top: 2%;}
div#six{background-color: #2c2c2c; padding: 5px;margin-top: 2%;}
span#hello{color: #c98546; text-transform: uppercase;letter-spacing: 3px;}
div#footer{background: #333130; padding: 6%;text-align: center;}
img#contact_me{width: 2%; display: inline-block; vertical-align: middle; margin-right: 5px;}
img#telephone{width: 20px; display: inline-block; vertical-align: middle; margin-right: 5px;}
img#instagram{width: 20px; display: inline-block; vertical-align: middle;margin-right: 5px;}
p#contacts{font-size: 2pc;color: #dda61b;}
img#ine{width: 30px;vertical-align: middle;margin-right: 4px;}
img#iwo{width: 30px;vertical-align: middle;}
img#ihree{width: 30px;vertical-align: middle;margin-right: 6px;}
img#iour{width: 30px;vertical-align: middle;margin-right: 8px;}
img#iive{width: 30px;vertical-align: middle;margin-right: 8px;}
img#iix{width: 30px;vertical-align: middle;}
span#hyphen{color: #634832;}
p#credits{color: #c98546;}
p#note{color: #c98546;}
p#first_service,p#second_service,p#third_service,p#fourth_service,p#fifth_service,p#sixth_service{font-size: 90%;}
div.media_icon{margin-top: 15px;}
p#send{color:  #c98546;;}
